NATION.N_NATIONKEY=0
NATION.N_NAME=1
NATION.N_REGIONKEY=2
NATION.N_COMMENT=3
REGION.R_REGIONKEY=4
REGION.R_NAME=5
REGION.R_COMMENT=6
PART.P_PARTKEY=7
PART.P_NAME=8
PART.P_MFGR=9
PART.P_BRAND=10
PART.P_TYPE=11
PART.P_SIZE=12
PART.P_CONTAINER=13
PART.P_RETAILPRICE=14
PART.P_COMMENT=15
SUPPLIER.S_SUPPKEY=16
SUPPLIER.S_NAME=17
SUPPLIER.S_ADDRESS=18
SUPPLIER.S_NATIONKEY=19
SUPPLIER.S_PHONE=20
SUPPLIER.S_ACCTBAL=21
SUPPLIER.S_COMMENT=22
PARTSUPP.PS_PARTKEY=23
PARTSUPP.PS_SUPPKEY=24
PARTSUPP.PS_AVAILQTY=25
PARTSUPP.PS_SUPPLYCOST=26
PARTSUPP.PS_COMMENT=27
CUSTOMER.C_CUSTKEY=28
CUSTOMER.C_NAME=29
CUSTOMER.C_ADDRESS=30
CUSTOMER.C_NATIONKEY=31
CUSTOMER.C_PHONE=32
CUSTOMER.C_ACCTBAL=33
CUSTOMER.C_MKTSEGMENT=34
CUSTOMER.C_COMMENT=35
ORDERS.O_ORDERKEY=36
ORDERS.O_CUSTKEY=37
ORDERS.O_ORDERSTATUS=38
ORDERS.O_TOTALPRICE=39
ORDERS.O_ORDERDATE=40
ORDERS.O_ORDERPRIORITY=41
ORDERS.O_CLERK=42
ORDERS.O_SHIPPRIORITY=43
ORDERS.O_COMMENT=44
LINEITEM.L_ORDERKEY=45
LINEITEM.L_PARTKEY=46
LINEITEM.L_SUPPKEY=47
LINEITEM.L_LINENUMBER=48
LINEITEM.L_QUANTITY=49
LINEITEM.L_EXTENDEDPRICE=50
LINEITEM.L_DISCOUNT=51
LINEITEM.L_TAX=52
LINEITEM.L_RETURNFLAG=53
LINEITEM.L_LINESTATUS=54
LINEITEM.L_SHIPDATE=55
LINEITEM.L_COMMITDATE=56
LINEITEM.L_RECEIPTDATE=57
LINEITEM.L_SHIPINSTRUCT=58
LINEITEM.L_SHIPMODE=59
LINEITEM.L_COMMENT=60
